@use '../../../../assets/styles/mixin' as mixin;

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    @include mixin.breakpoint-tabletteS {
        padding: 0;
    }
}

.image {
    cursor: pointer;
    width: auto;
}

.resize {
    width: 100%;
    height: auto;
    position: absolute;
}