@use "../../assets/styles/mixin" as mixin;

.container {
  padding-bottom: 218px;
  background-color: var(--gray);
  @include mixin.breakpoint-tabletteM {
    padding: 0;
    padding-bottom: 328px;
  }
  @include mixin.breakpoint-tabletteS {
    padding-bottom: 307px;
  }
  @include mixin.breakpoint-mobileM {
    padding-bottom: 295px;
  }
}
