.container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.search {
    margin-left: 10px;
    width: 100%;
    border: none;
    outline: 0;
}