@use '../../assets/styles/mixin' as mixin;

.container {
    display: flex;
    flex-direction: column;
    @include mixin.breakpoint-tabletteS {
        padding: 20px;
    }
}

.locationSection {
    background-color: white;
}

.contactSection, .locationSection, .hoursSection {
    padding: 30px;
    padding-bottom: 60px;
    h2 {
        text-transform: uppercase;
        color: white;
        font-size: 70px;
        font-weight: 900;
        text-shadow: 1px 1px 1px #250902;
    }
}

.contactUsTitle, .mapsTitle, .hoursTitle {
    padding: 15px;
    font-size: 30px;
    color: var(--primary-color);
    background-color: #fafafa;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    @include mixin.breakpoint-laptopS {
        width: 80%;
    }
    @include mixin.breakpoint-mobileL {
        width: 100%;
    }
    button {
        @include mixin.breakpoint-mobileL {
            width: 100%;
            margin-top: 15px;
        }
    }
    input, textarea {
        font-size: 18px;
        background-color: var(--gray);
        margin-bottom: 5px;
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid var(--primary-color);
    }
    
    input:focus , textarea:focus {
        outline: 1px solid var(--primary-color);
        border-bottom: none;
    }
    
    textarea {
        resize: none;
    }
}

.error {
    font-size: 14px;
    color: black;
}

.submitButton {
    font-size: 20px;
    width: 30%;
    margin: auto;
}

.maps {
    text-align: center;
    margin: 40px;
}

.hours {
    margin: auto;
    text-align: center;
    width: 30%;
    font-size: 20px;
    line-height: 40px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fafafa;
    border-radius: 10px;
    &>div {
        display: flex;
        justify-content: space-between;
        span:first-child {
            font-weight: 700;
        }
    }
     
}