@use '../../assets/styles/mixin' as mixin;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    margin: 15px 0;
    border-radius: 10px;
    @include mixin.breakpoint-mobileL {
        margin: 10px 0;
    }
}

.scrollingMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 40px;
    cursor: pointer;
    @include mixin.breakpoint-mobileXL {
        height: 34px;
        padding: 0 20px;
        font-size: 14px;
    }
    @include mixin.breakpoint-mobileL {
        height: 32px;
    }
    @include mixin.breakpoint-mobileM {
        padding: 0 10px;
        height: 30px;
    }
    @include mixin.breakpoint-mobileS {
        padding: 0 10px;
        font-size: 13px;
        height: 26px;
    }
    .title {
        color: white;
        margin-bottom: 0;
    }
    .arrow {
        color: white;
        font-size: 20px;
        @include mixin.breakpoint-mobileXL {
            font-size: 16px;
        }
        @include mixin.breakpoint-mobileS {
            font-size: 14px;
        }
    }
}

.content {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 40px;
    @include mixin.breakpoint-mobileXL {
        padding: 10px 20px;
        font-size: 14px;
    }
    @include mixin.breakpoint-mobileM {
        padding: 10px
    }
}