.introduction {
    padding: 20px 10%;
    text-align: center;
}

.title {
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
    margin-top: 40px;
} 

.members {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}