.container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-left: 10px;
}

.nav {
    color: var(--text-color-light);
    margin-right: 20px;
    ul {
        display: flex;
    }
    ul li {
        cursor: pointer;
        display: flex;
        position: relative;
        padding: 15px;
        &:hover {
            .link {
                color: #250902;
            }
            .clubMenu .link {
                color: white;
                &:hover {
                    color: #250902;
                }
            }
            .saisonMenu .link {
                color: white;
                &:hover {
                    color: #250902;
                }
            }
        }
    }
}

.link {
    color: var(--text-color-light);
}


