.container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo {
    font-size: 22px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    .link div {
        &:first-child {
            text-transform: uppercase;
        }
        &:last-child {
            font-size: 20px;
            padding-left: 1px;
        }
    }
    
}

.nav {
    color: var(--text-color-light);
    margin-right: 10px;
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul li {
        display: flex;
        position: relative;
        padding: 0 15px;
        border-right: 1px solid white;
        &:last-child {
            border: 0;
        }
        &:hover {
            .link {
                color: #250902;
            }
        }
    }
}

.link {
    color: var(--text-color-light);
}


