.container {
    background-color: var(--primary-color);
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.contactDetails {
    padding: 20px;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    i {
        margin-right: 20px;
    }

    .address {
        i {
            font-size: 40px;
        }
    }
    .phone {
        border-left: 1px solid white;
        i {
            font-size: 40px;
        }
    }
    .mail {
        border-left: 1px solid white;
        i {
            font-size: 40px;
        }
    }
}

.address, .phone, .mail {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        font-size: 20px;
        text-transform: uppercase;
    }
    .text {
        color: lightgray;
        font-size: 16px;
    }
}

.author {
    margin-top: 30px;
    color: lightgray;
    i {
        padding-right: 2px;
    }
    a {
        margin-left: 5px;
    }
}