.container {
    background-color: var(--primary-color);
    width: 100%;
    max-width: 1400px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 18px;
    span {
        text-transform: uppercase;
    }
}

.author {
    padding: 10px;
    i {
        padding-right: 2px;
    }
    a {
        margin-left: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}