@use '../../../../../assets/styles/mixin' as mixin;

.scrollingMenuLinkMobile {
    position: relative;
    &:hover {
        color: #250902;
        .link {
            color: #250902;
        }
    }
    .link {
        display: flex;
    }
    .arrowContainer {
        position: absolute;
        right: 0;
    }
    .scrollingArrowUp{
        @include mixin.breakpoint-tabletteM {
            margin-left: 5px;
        }
    }
    .scrollingArrowdown{
        position: absolute;
        right: 0;
        @include mixin.breakpoint-tabletteM {
            margin-left: 5px;
        }
    }
}