@use '../../../../../assets/styles/mixin' as mixin;

.scrollingMenuLinkMobile {
    position: relative;
    &:hover {
        color: #250902;
        .link {
            color: #250902;
        }
    }
    .link {
        display: flex;
    }
    .arrowContainer {
        position: absolute;
        right: 0;
    }
    .scrollingDown {
        transform: rotate(45deg);
        font-size: 18px;
    }
}