* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: var(--font-family) !important;
    color: var(--text-color) !important;
    background-color: var(--gray) !important;
    position: relative;
}

h1, h2, h3, h4 {
    margin: 0;
}

p {
    margin: 0 !important;
}

ul {
    list-style: none;
    padding-left: 0px !important;
    margin: 0;
    text-decoration: none;
    margin-bottom: 0 !important;
}

a, Link {
    text-decoration: none !important;
    color: white !important;
}

img {
    max-width: 100%;
}

::placeholder {
    font-family: var(--font-family);
}


